[user]
	name = TANIGUCHI Kohei
[color]
	ui = auto
[credential]
	helper = cache
[alias]
	amend = commit --amend
	ap    = add -p
	co    = checkout
	d     = diff
	dc    = diff --cached
	g     = grep
	l     = log --oneline -5
	lg    = log --graph --oneline --decorate --all
	sl    = stash list
	sp    = stash pop
	s     = status -sb
[push]
	default = simple
[rebase]
	autosquash = true
[rerere]
	enabled = true
[help]
	autocorrect = 1
[core]
	precomposeunicode = true
	quotepath = false
	pager = diff-highlight | less
[diff]
	renames = copy
	compactionHeuristic = true
[url "git@github.com:"]
	pushInsteadOf = "git://github.com/"
	pushInsteadOf = "https://github.com/"
[log]
	date = iso
[interactive]
	diffFilter = diff-highlight
[ghq]
	root = ~/src
[pull]
	ff = only
