[user]
	name = TANIGUCHI Kohei
[color]
	ui = auto
[credential]
	helper = cache
[alias]
	amend = commit --amend
	ap    = add -p
	co    = checkout
	d     = diff
	dc    = diff --cached
	g     = grep
	l     = log --oneline -5
	lg    = log --graph --oneline --decorate --all
	sl    = stash list
	sp    = stash pop
	s     = status -sb
[status]
	showUntrackedFiles = all
[push]
	default = simple
[rebase]
	autosquash = true
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[rerere]
	enabled = true
[help]
	autocorrect = 1
[core]
	precomposeunicode = true
	quotepath = false
[diff]
	renames = copy
	compactionHeuristic = true
[url "git@github.com:"]
	pushInsteadOf = "git://github.com/"
	pushInsteadOf = "https://github.com/"
[log]
	date = iso
[interactive]
	diffFilter = diff-highlight
[ghq]
	root = ~/src
