[user]
	name = TANIGUCHI Kohei
	email = a.d.xvii.kal.mai@gmail.com
[color]
	ui = auto
[credential]
	helper = cache
[alias]
	ap = add -p
	co = checkout
	d  = diff
	dc = diff --cached
	g  = grep
	l  = log --oneline -5
	lg = log --graph --oneline --decorate --all
	sl = stash list
	sp = stash pop
        s  = status -sb
[status]
	showUntrackedFiles = all
[push]
	default = upstream
[rebase]
	autosquash = true
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[rerere]
	enabled = true
[help]
	autocorrect = 1
[core]
	precomposeunicode = true
