name: Update

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 6' # runs weekly on Saturday at 00:00

jobs:
  update-flake-lock:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: app-token
        with:
          app-id: ${{ vars.UPDATE_APP_ID }}
          private-key: ${{ secrets.UPDATE_APP_PRIVATE_KEY }}
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@c5930b397a673a70ca70be06020e943aeac310a1 # v27
        with:
          token: ${{ steps.app-token.outputs.token }}
